<div>
  <img [src]="'assets/alpaca/backgrounds/' + alpaca.background + '.png'">
  <img [src]="'assets/alpaca/ears/' + alpaca.ears + '.png'">
  <img [src]="'assets/alpaca/leg/' + alpaca.leg + '.png'">
  <img [src]="'assets/alpaca/neck/' + alpaca.neck + '.png'">
  <img [src]="'assets/alpaca/' + alpaca.nose + '.png'">
  <img [src]="'assets/alpaca/mouth/' + alpaca.mouth + '.png'">
  <img [src]="'assets/alpaca/hair/' + alpaca.hair + '.png'">
  <img [src]="'assets/alpaca/eyes/' + alpaca.eyes + '.png'">
  <img [src]="'assets/alpaca/accessories/' + alpaca.accessories + '.png'">
</div>